In [ ]:
Soal Tipe Data

In [9]:
# data
company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [ ]:
1

In [16]:
def sort_company():
    companies = list(company_detail_list.values())
    sorted_companies = sorted(companies, key=lambda x: x['domain'], reverse=True)
    result = [{'name': company['name'], 'domain': company['domain']} for company in sorted_companies]
    return result
print(sort_company())

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [ ]:
2

In [12]:
def print_domains():
    for company_info in company_detail_list.values():
        company_name = company_info['name']
        domain = company_info['domain']
        num_clients = len(company_info['clients'])
        print(f"{company_name}: {domain}, relation: {num_clients} clients")
print_domains()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [ ]:
3

In [17]:
def get_employees():
    result = []
    for employee_info in employee_detail_list.values():
        full_name = employee_info['full_name']
        company_name = employee_info['company']
        domain = company_detail_list[company_name]['domain']
        result.append({'full_name': full_name, 'company': company_name, 'domain': domain})
    return result
print(get_employees())

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [ ]:
4

In [18]:
def get_employees_by_company():
    result = []
    for company_info in company_name_list:
        company_name = company_info['name']
        employees_in_company = [employee_info['full_name'] for employee_info in employee_detail_list.values() if employee_info['company'] == company_name]
        result.append({'company': company_name, 'employees': employees_in_company})
    return result

# Test the function
print(get_employees_by_company())

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]